.flex{

 display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.baseline{
    align-items: baseline;
}

.block{
    display: block !important;
}

.top_header_item:not(:last-child) {
    margin-right: 10px;
}
.top_header_item > svg {
    width: 25px;
    color: var(--color);
}

.top_header_item span{
    margin-left: 5px;
}


.header-top .donate-option{
    float: initial;

}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
